*{
    margin: 0;
    padding: 0;
}
.header-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 60vh;
   background-color: rgba(229, 84, 115, 0.10);
   
}
.header-container-discription{
    margin-left: 10%;
}
.header-heading{
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    font-family: lato;
}
.header-paragraph{
   padding-top: 25px;
   font-size: 18px;
   font-weight: 500;
   color: rgba(119, 115, 115, 0.864);
}
.header-btn{
   color: white;
   margin-top: 25px;
   padding: 15px 35px ;
   background-color: #E55473;
   border-radius: 8px;
   border: none;
}
.header-img{
   padding-top: 37px;
   margin-right: 7%;
   height: 56vh;
}
.feature-section{
    text-align: center;
    margin-top: 100px;
}
.feature-heading{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}
.feature-paragraph{
    font-weight: 500;
    color: rgba(159, 156, 156, 0.875);
}
.feature-all-img{
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:20px 10%;
}
.flower-description{
    height: 390px;
    width: 350px;
    background-color: aqua;
    border-radius: 300px 300px 0 0;
}
.feature-img{
    height: 310px;
    padding-top: 80px;
}
.img-name{
    padding-top: 20px;
    margin-bottom: 5px;
}
.support-section{
    width: 80%;
    height: 200px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    gap: 75px;
} 
.support-section-container{
    text-align: center;
}
.support-section-logo{
    height: 60px;
    width: 60px;
}
.support-section-driscription{
    font-size: 17px;
}
.deal-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    height: 45vh;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    margin-bottom: 6%;
}
.deal-section-ciontainer{
   text-align: center;
}
.deal-section-heading{
    font-size: 25px;
}
.deal-section-paragraph{

}
.deal-section-btn{
    height: 45px;
    width: 120px;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #E55473;
}
.deal-section-img{
    height: 270px;
}
.link-section{
   text-align: center;
}
.link-section-all-img{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
.link-section-img{
    width: 230px;
    margin-bottom: 7%;
}
.input-heading-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
    height: 350px;
    width: 77%;
    margin-left: 11.5%;
    border-radius: 8px;
    background-image: url('./flower-asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7%;
}
.input-section{
    width: 525px;
    height: 45px;
    border: none;
    margin-left: 140px;
    padding-left: 20px;
    border-radius: 8px;
    margin-right: 7px;
}
.footer-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    height: 320px;
    color: white;
    background-color: black;
}
.footer-heading{
    margin-top: 10px;
    font-size: 48px;
    font-weight: 800;
}
.flower-color{
    color: #E55473;
}
.footer-paragraph{
  color: rgba(255, 255, 255, 0.40)
}