*{
    margin: 0;
    padding: 0;
    font-family: Lato;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    background-color: rgba(229, 84, 115, 0.10);
 }
.header-heading{
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
}
.header-container-discription{
    margin-left: 10%;
}
.header-img{
   padding-top: 37px;
   margin-right: 7%;
   height: 56vh;
}
.all-section-heading{
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    color: #272727;
}
.all-header-paragraph{
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 16px;
   font-weight: 500;
   color: rgba(39, 39, 39, 0.60);
}
.all-header-btn{
   color: white;
   padding: 15px 35px ;
   background-color: #E55473;
   border-radius: 8px;
   border: none;
}
.feature-section{
    text-align: center;
    margin-top: 100px;
}
.feature-all-img{
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:20px 10%;
}
.flower-description-1{
    height: 390px;
    width: 350px;
    border-radius: 300px 300px 0 0;
    background-color: rgba(167, 33, 98, 0.15);
}
.flower-description-2{
    height: 390px;
    width: 350px;
    border-radius: 300px 300px 0 0;
    background-color: rgba(5, 151, 160, 0.15);
}
.flower-description-3{
    height: 390px;
    width: 350px;
    border-radius: 300px 300px 0 0;
    background-color: rgba(71, 125, 17, 0.15);
}
.feature-img-1{
    height: 310px;
    padding-top: 80px;
}
.feature-img-2{
    height: 270px;
    padding-top: 80px;
}
.feature-img-3{
    height: 310px;
    padding-top: 80px;
}
.img-name-1{
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #272727;
}
.img-name-2{
    padding-top: 60px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #272727;
}
.support-section{
    width: 80%;
    height: 200px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    gap: 75px;
} 
.support-section-container{
    text-align: center;
}
.support-section-logo{
    height: 60px;
    width: 60px;
}
.support-section-driscription{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: rgba(39, 39, 39, 0.80);
}
.deal-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    width: 100%;
    height: 45vh;
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    margin-bottom: 6%;
}
.deal-section-ciontainer{
   text-align: center;
}
.deal-section-color{
    color: #E55473;
}
.deal-section-img{
    height: 270px;
}
.link-section{
    text-align: center;
}
.link-section-all-img{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
.link-section-img{
    width: 230px;
    margin-bottom: 7%;
}
.input-heading-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 77%;
    margin-left: 11.5%;
    border-radius: 8px;
    background-image: url('./flower-asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7%;
}
.input-section{
    width: 525px;
    height: 45px;
    border: none;
    margin-left: 140px;
    padding-left: 20px;
    border-radius: 8px;
    margin-right: 7px;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    color: rgba(39, 39, 39, 0.60);
}
.footer-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    height: 320px;
    color: rgba(255, 255, 255, 0.90);
    background-color: #111010;
}
.footer-heading{
    margin-top: 10px;
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
    color: #E55473;
}
.flower-color{
    color: #ffffff;
}
.footer-paragraph-1{
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.footer-paragraph-2{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.40)
}